body{
    background-color: #243447;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
    
}
.container{
    display: grid;
    place-items: end normal;
    width: 400px;
    height: 450px;
    background-color:#141d26;
    overflow-y: scroll;     
    border-radius: 15px;
}

p{
    background-color: beige;
    border-radius: 10px;
    max-width: 500px;
    text-align: left;
    padding: 5px;
}
.container::-webkit-scrollbar{
    display: none;
}
.message{
    display: grid;
    place-items: center;
}
